.newsletter{
    display: flex;
    flex-direction: column;
    background-color: #ee425c;
    padding-top: 3%;
    padding-left: 40%;
}

.newsletterP{
    font-size: 26px;
    color: white;
    font-weight: bolder;
 
}