.anotherpage{
    padding-top: 2%;
    display: flex;
    padding-left: 8%;
    justify-content: left;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 40%;
    min-width: 13%;
}
.secondScroll{
    display: flex;
    flex-direction: row;

}
.anotherImage{
    max-width: 87%;
    max-height: 40%;
    padding-left:3% ;
}