.secondColumn{
    display: flex;
    flex-direction: row;
    padding-top: 0%;
    padding-left: 14%;
}
.fourthJ{
    max-width: 100%;

}
.coconutJ{
   padding-left: 14%;
   max-width: 100%;
}
.fifthJ{
    max-width: 100%;
 }