.thirdlast{
    margin-top: 3%;
    display: flex;
    padding-left: 20%;
    flex-direction: column;
    min-width: 70%;
    background-color: #2f3857;
    padding: 8%;
}

.paddingL{
    padding-left: 37%;
}
.paddingLR{
    padding-left: 24%;
    font-size: 30px;
    color: white;
}
.paddingLS{
    padding-left: 40%;
    font-size: 30px;
    color: white;
}